# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?
*.b$?
*.s$?
*.l$?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf

# Autorouter files
*.pro
*.job

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls
*.ger
*.xln

*.drd
*.drd.*

*.s#*
*.b#*

*.info

*.eps

# file locks introduced since 7.x
*.lck

# IAR Settings  
**/settings/*.crun  
**/settings/*.dbgdt  
**/settings/*.cspy  
**/settings/*.cspy.*  
**/settings/*.xcl  
**/settings/*.dni  
**/settings/*.wsdt  
**/settings/*.wspos  

# IAR Debug Exe  
**/Exe/*.sim  

# IAR Debug Obj  
**/Obj/*.pbd  
**/Obj/*.pbd.*  
**/Obj/*.pbi  
**/Obj/*.pbi.*  

**/Drivers
**/EWARM/LED blinking (HAL)
**/EWARM/*.ewd
**/EWARM/*.ewp
**/EWARM/*.eww
**/EWARM/*.icf
**/EWARM/*.dep
**/EWARM/*.ewt
**/EWARM/settings
**/EWARM/Debug

**/.mxproject

/bak
/hardware/libs
*.scr
*.cam







